[2020-05-17 16:20] jleni opened #12 "Building the docker container fails"
Instructions seem to be incorrect.
At the moment, it is not possible to build the container and there are some issues such as trying to copy from a parent path. Something that docker does not allow.

[2020-05-17 16:22] hazimeh commented on #12
Hi jleni, thank you for raising this issue.
We are aware that the build instructions on the master branch are outdated.
Please find the update instructions on the Magma homepage:
https://hexhive.epfl.ch/magma/

[2020-05-17 16:22] #12 closed

[2020-06-14 14:21] DanielEbert opened #14 "Does a Bug ID to CVE ID mapping exist for the libtiff target?"
Hello I am interested in the CVE ID for each BUG ID in the libtiff target. The files for libtiff are missing or do not exist in the magma/docs/Buggy_MDs folder from pull request #11 .
Does a Bug ID to CVE ID mapping exist for the libtiff target?

[2020-06-15 12:39] cjordan7 commented on #14
Hello,

Yes, it does exist. I just forgot to add it.

Now it is done.

[2020-06-15 13:25] DanielEbert commented on #14
Thank you :)

[2020-06-15 13:25] #14 closed

[2020-06-15 13:39] hazimeh commented on #14
I have also added a page summarizing those mappings to the Magma website:
https://hexhive.epfl.ch/magma/docs/bugs.html

[2020-07-29 22:00] vanhauser-thc opened #15 "Who came up with the fuzzer setup?"
Why these settings for afl++?
It is not optimal.
I would have expected that we receive a message asking for recommendations instead of a not well hand picked setup.
That is not very professional or academic.
I will create a PR over the days to fix this.
You should ask the other fuzzer maintainers what they recommend too.

[2020-07-29 22:07] hazimeh commented on #15
Apologies. We tried to mimic the setup in FuzzBench. Your input is greatly appreciated. In any case, evaluation against Magma is not meant to provide an ultimate ranking of fuzzers, but rather identify their strengths and weaknesses in order to improve them. Our initial sample report is mot meant to judge any of the evaluated fuzzers, and fuzzer developers are always welcome to provide more suitab

[2020-07-30 10:11] hazimeh commented on #15
Resolved by #16

[2020-07-30 10:11] #15 closed

[2020-07-31 06:58] cxm95 opened #18 "Bench/Fuzzer start failed"
Hi,

Thank you for the work! However, something may wrong with `run.sh` during my trial.

[code]

The config file is listed below:
[code]

[2020-07-31 07:00] hazimeh commented on #18
We have mainly written the scripts to support Bash. Some refactoring will be required to have it support other shells.
For the time being, could you try again using Bash?

[2020-08-04 07:00] cxm95 commented on #18
Thank you for the reply for this dumb problem! However it's still weird: I am using `bash` but it seemed that error came from `zsh` (zsh is default shell).
[code]

[2020-08-17 08:30] hazimeh commented on #18
@cxm95 Could you please verify whether #20 solves this issue?

[2020-08-26 15:23] #18 closed

[2020-08-31 11:36] derdav3 opened #23 "Campaign immediately terminates"
First I had this error: https://github.com/HexHive/magma/issues/18, but now with the `SHELL=/bin/bash` it seems to get further.
However, even tho I have this captainrc script:
[code]

it terminates immediately:
[code]

Same for the log:
[code]

what am I doing wrong?

[2020-08-31 12:31] hazimeh commented on #23
Untar the tarball at `./workdir/afl/libpng/libpng_read_fuzzer/0/ball.tar` and check the `log/current` file.
It should contain output from the fuzzer.
It's likely that AFL is refusing to launch due to `Pipe at the beginning of 'core_pattern'`.
You can resolve this by running
[code]
outside the container.

Check the [Troubleshooting section](https://hexhive.epfl.ch/magma/docs/troubleshoot.html) on t

[2020-08-31 13:00] derdav3 commented on #23
awesome that works. I thought `export AFL_SKIP_CPUFREQ=1` would resolve that check, but I've confused it with ... the other one ;)

thanks! will report back if I run into further problems

[2020-08-31 13:00] #23 closed

[2020-09-01 09:36] cryptomadco opened #24 "Magma build failure (and other issues)"
Hello .

I tried many time to setup magma .

I want mainly :

1. Setup magma to run campaigns but unfortunately seems scripts are not working properly, see this log :

[code]
This is the log after running ./run.sh in the captain dir and I don't know why it's not running .

2. I want to build a vulnerable target (say libpng) with my own fuzzer and have reports as in the magma documentation, how is

[2020-09-01 12:25] hazimeh commented on #24
Please check the [Troubleshooting section](https://hexhive.epfl.ch/magma/docs/troubleshoot.html) on the Magma website as a first step when facing problems.

1. It seems you've run the `./run.sh` command with the root user (possibly via `sudo`?). Try instead running it with a non-root user. Make sure that user is part of the `docker` group. Refer to the relevant troubleshooting item on this topic.

[2020-09-02 01:58] hazimeh commented on #24
Update: I've gone ahead and updated the `tools/benchd` toolset (currently just one script), and pushed it to the master branch.

Check out the [documentation](https://hexhive.epfl.ch/magma/docs/technical.html#benchd-toolset-processing-results) for requirements, usage, and sample output.

[2020-09-02 06:53] cryptomadco commented on #24
Hello @hazimeh !

Thanks for your reply .

After a lot of investigation I came to three commands which basically solved my problem on docker permission things .

so, I highly recommend you to add these commands to top of this getting started page, so no-one will get disappointed from this permission problem stuff :

[code]
If you can add these commands to :
`https://hexhive.epfl.ch/magma/docs/gett

[2020-09-02 07:51] cryptomadco commented on #24
From the output I got from Magma, it seems it runs well on afl and aflplusplus but failed at running and building symcc .

For all of these stuff, I used captain because it was easier to run .

Does using captain mean that the tests will be done at the local machine or it just mean in an unmanaged manner ?

Thanks

[2020-09-02 10:14] hazimeh commented on #24
Will do. Thanks for the feedback.

Could you attach the full build log for the symcc_afl image?

The captain toolset automates the process of building, running, and scheduling Magma Docker images and containers. The experiments run on the local machine, but within a containerized process. This could induce some syscall overhead, but all fuzzers are evaluated within the same environment (a docker c

[2020-09-03 11:15] benjaminor opened #25 "Patching errors for poppler, php, libxml2, openssl"
Running fuzzers for these targets fails due to patching errors:
- poppler: AAH042
- php: MAE006
- libxml2: AAH036
- openssl: MAE110

I saw that for the targets you clone the master branch and apply the patches on this branch, maybe you could pin the cloning to a specific commit where you know the patches will succeed?

[2020-09-03 11:16] hazimeh commented on #25
Consider checking out the `v1.0` branch, where targets and fuzzers are anchored to specific refs.

[2020-09-03 11:16] #25 closed

[2020-09-03 13:14] cryptomadco commented on #24
Thanks for your explanations .

Yes, sure, asap.

I don't know when you're going to make change and make working scripts for report generation but I used the reports branch in the current magma and after successful running of afl and aflplus against libpng for report generation I have the following problems :
[code]

The json generated files with benchd scripts is as :

`{"logs": {"libpng": {"libp

[2020-09-03 13:19] hazimeh commented on #24
Have you tried using the new "exp2json.py" script instead? Just point it at the `/path/to/workdir` and it should generate a valid JSON summary.

I think the issue with the attached JSON file is that the "logparse.py" script may have been pointed at the wrong root dir.

Try the "exp2json.py" script and let me know how it goes.

[2020-09-04 04:37] cryptomadco commented on #24
Using the "exp2json.py", I have the following erros :

[code]

[2020-09-04 09:35] cryptomadco commented on #24
Another test with the latest branch :

[code]

[2020-09-05 09:15] cryptomadco commented on #24
@hazimeh
Any recommendations / possible fixes / solutions so far ?

[2020-09-05 13:30] hazimeh commented on #24
It's possibly an edge case where the monitor log is empty (premature campaign). I'll address it when I get the time.

[2020-09-07 10:52] hazimeh commented on #24
@cryptomadco Could you please archive the workdir and attach it here? I'd like to reproduce the error.

[2020-09-07 11:55] cryptomadco commented on #24
Here is the workdir :

[workdir.zip](https://github.com/HexHive/magma/files/5182888/workdir.zip)

[2020-09-07 12:15] hazimeh commented on #24
Alright, it seems the error was due to an empty monitor log for `symcc_afl/sqlite3/sqlite3_fuzz/{0,1,2}`. This could be due to the very short campaign lengths (1 minute).
I've modified the script to gracefully ignore these errors (but still output error messages).
Try with longer campaigns and let me know if the issue with `symcc_afl/sqlite3` persists.

[2020-09-07 14:39] hazimeh commented on #24
Could you also attach the `captainrc` file you used?

[2020-09-07 14:50] cryptomadco commented on #24
Yes, this was my captainrc :
[code]

[2020-09-07 15:32] hazimeh commented on #24
The TARGETS configuration requires a fuzzer prefix which matches the fuzzers being evaluated. In your case, you would need to specify them as follows:
[code]

[2020-09-07 16:25] cryptomadco commented on #24
Thanks a lot, but I didn't find that keywords in the documentation, I just thought all will be done with afl_TARGETS . just think that it's better to add one more keyword for this in `captainrc ` file .

Now going to run that .

@hazimeh Do you possibly know approximately, how much does it takes for you to check and fix that web report tool to a working version ?

Thanks!

[2020-09-07 16:33] cryptomadco commented on #24
Thanks about that, further discussion about that report tool also can be take through mail, some days ago I pinged you over you@epf.ch , just don't know if you receive that and get time to read that .

Thanks!

[2020-09-08 06:38] cryptomadco commented on #24
Now, seems the `exp2json.py`  script is working well 👍

There is just one problem reaming that is related to that report tool :

[code]

As I tested Magma in recent days, I think magma with a working version that web report tool, is a cool fuzzer evaluation tool!

[2020-09-11 00:12] hazimeh commented on #24
@cryptomadco I have merged and partially tested the report-generation code. In its current form, it is only able to generate plots:
[code]
I hope I am not missing any requirements.

Edit: It's on the `dev` branch now.

[2020-09-12 06:47] cryptomadco commented on #24
@hazimeh

Too much appreciate Ahmad! the plot generation is working well, tested it with different scenarios, works like a charm! thank you very much !

I think that the Symcc_afl had some modifications so I have problems after running the campaign with ./run.sh , it's the log of `symcc_afl_sqlite3_build.log` failure :

[code]

failed for other targets for symcc_afl as well .

Thanks!

[2020-09-12 17:15] hazimeh commented on #24
@cryptomadco I forgot to mention, the campaign duration used for plot generation is currently **hard-coded** (in seconds) in `BenchmarkData.py:63`. Don't forget to change it to match your `configrc` file. In the meantime, I'll be working on finishing the report generation pipeline.

[2020-09-15 22:06] anaaktge opened #28 "Unexpected _TARGETS behavior"
Magma is really nifty and I'm plan to use it for my quals research on initial corpus impact.

Initially I wanted to just study seed behavior on one specific target (libxml2) and run all the fuzzers against it.

captainrc on line ~76 says
[code]

So I ran with
[code]
AFL ran just on libxml2 as expected, aflfast ran on all targets. I had noticed the name of the variable in the comment was paired to

[2020-09-15 22:10] anaaktge opened #29 "enhancement: check status/estimated finish time"
For long jobs, it would be really nice if there was a way to check progress, either as percentage through all jobs, or an estimated time of finishing all runs.

[2020-09-15 22:26] adrianherrera commented on #28
Hey there Allison,

You are correct, the fuzzer prefix is derived from the directory names in `fuzzers/`. I agree, an update to the comment is the way to go (as you said, new fuzzers have been added since the project was first started).

Hmm good question re. staying abreast of Magma plans. No plans at the moment, however there is an "Awesome Fuzzing" discord where we hang out and people discuss M

[2020-09-15 22:33] adrianherrera commented on #29
ACK. Something like `afl-whatsup` would be pretty cool! Unfortunately, it would also be pretty low down the priority list ☹️ But feel free to make a PR if you get the time!

[2020-09-16 11:38] andreafioraldi opened #31 "poppler build fails"
Hi, I'm trying to use magma with my own custom fuzzer, but the poppler build seems to fail:

[code]

The other targets are ok and this error should not be related to my fuzzer , I'm just using afl-clang-fast of AFL++ to instrument.

Maybe it is a cmake related error? https://gitlab.freedesktop.org/poppler/poppler/blob/master/cmake/modules/FindIconv.cmake#L26 here ICONV_CONST is set to const only a

[2020-09-16 13:56] hazimeh commented on #31
Does this happen inside the provided docker images?
Edit: Ah yes, just noticed the `/magma/targets/poppler/repo` prefix.

Would it be possible to docker-commit and docker-save the last container that fails the build and send it over?

[2020-09-16 14:54] hazimeh commented on #31
Could you please post your CMake command output? In my docker image build:
[code]
`ICONV_SECOND_ARGUMENT_IS_CONST` is False, and `ICONV_CONST` is thus empty.
If it were True, `ICONV_CONST` would be `const` and the compilation should not fail.

[2020-09-16 16:22] anaaktge opened #32 "${MAGMA}/apply_patches.sh failing on libxml2, php, poppler"
I pulled from dev( lovely to see all the report work landing :) ) and ran into some issues building the targets. These all look similar. In that it looks like patching failed. openssl also failed, but that looks like a different issue and merits its own ticket.

../log/afl_libxml2_build.log
[code]

/log/afl_php_build.log
[code]

/log/afl_poppler_build.log
[code]

[2020-09-16 16:27] anaaktge opened #33 "archive/tar failure causing openssl target not to build"
openssl also failed to build on a clean copy of dev, although it's failing for a slightly different reason than libxml2, php, and poppler.  This looks like it might originate in the new report tooling that is landing?

from run.sh in the terminal:
[code]
from
../log/afl_openssl_build.log

this goes on for a while
[code]

[2020-09-16 17:24] hazimeh commented on #32
Target repository references are not anchored on the `dev` branch. They are only anchored on versioned branches, of which exists only one right now: `v1.0`.

Please use that branch for building the benchmark. The report generation tooling is still on the `dev` branch however, as it is incomplete. Once the tooling is finished, it will be merged into the latest versioned branch.

Let me know if you

[2020-09-16 17:24] #32 closed, assigned to nobody

[2020-09-16 17:29] hazimeh commented on #33
Please refer to the [Troubleshooting section](https://hexhive.epfl.ch/magma/docs/troubleshoot.html) on the Magma website.

The issue is that your workdir is under the `magma` root dir. Since the Dockerfile's context is the entirety of that directory (and all its recursive subdirectories), the docker image building process attempts to copy the workdir into the image context. However, while a campai

[2020-09-16 17:29] #33 closed, assigned to nobody

[2020-09-16 17:46] hazimeh commented on #28
I think Adrian's answer is quite on point, and should solve any issues pointed out by the OP.

For now, we do not have a medium for public discussions other than GitHub Issues. Feel free to open up an issue if you are facing a problem with Magma or if you want to contribute to its improvement.

[2020-09-16 17:46] #28 closed, assigned to nobody

[2020-09-17 12:57] andreafioraldi commented on #31
[code]

[2020-09-17 12:59] andreafioraldi commented on #31
I'm using llvm 10, just take the preinstall script of afl++ lto and substitute 11 with 10

[2020-09-17 13:02] andreafioraldi commented on #31
If it is not llvm 10, then it is my compiler wrapper (that it is just using the afl++ compiler pass in this configuration) but seems unlikely

[2020-09-17 13:07] andreafioraldi commented on #31
It contains private work. I'll try to reproduce it using just afl++ if possible and send it to u then.

[2020-09-17 14:08] andreafioraldi commented on #31
btw (unrelated), do u mind sharing the script that produces the graphs (or at least just the simple total unique crashes) in the sample report? I cannot find them in the source base and would be great to have those nice graphs

[2020-09-17 14:12] hazimeh commented on #31
The first draft is on the dev branch:
https://github.com/HexHive/magma/blob/dev/tools/report_df/main.py

It generates only plots. The whole-report generation code is still in my local repo, as it needs some more refactoring and clean-up.

Edit: Refer to this for usage details:
https://github.com/HexHive/magma/issues/24#issuecomment-690797224

[2020-09-21 06:31] cryptomadco commented on #24
Hi .
As I noticed there are problems in building libxml2 target with different fuzzers . I faced this multiple times .

On the other hand, whenever I want to generate reports, I get the following :

[code]

Currently, I run the test in 2 hours cycles, also I fixed what you mentioned about seconds in `BenchmarkData.py:63` . so what's the meaning of the above warning especially this part :

` This f

[2020-10-05 16:54] Minilulatsch opened #34 "Building targets only?"
Is it possible to only build the targets, without Docker but directly on the local system? I tried with libpng and libtiff, by first executing fetch.sh and than build.sh, with the necessary flags set. But the result is a "undefined reference to `main'" error in both cases, so I guess I'm missing some important step?

[2020-10-05 18:24] Minilulatsch commented on #34
I think I've found my issue. The fuzzing targets use the libFuzzer-style "LLVMFuzzerTestOneInput()" function to process the inputs, which is always called by the main() function of the current fuzzing engine. As the targets are not linked again a fuzzing engine when building them by directly executing build.sh, the main() function is obviously missing. So adding a main() function to the fuzzing ta

[2020-10-05 18:24] #34 closed, assigned to nobody

[2020-11-06 09:37] sphl opened #44 "New CVEs in libxml2"
Hi,

There are three brand new CVEs found by OSS-Fuzz in _libxml2_ (CVE-2020-27917, CVE-2020-27911, CVE-2020-27926) - it would be good to include them in Magma as soon as the CVE descriptions are available.

Stephan

[2020-12-10 02:07] AbhishekShah212 opened #49 "exp2json vs poc_extract.sh discrepancy"
Hi,

Thanks for this excellent dataset and the terrific documentation. I hope it will be widely used.

Problem: I invoked `run.sh` (`captainrc` below). After it finished, I expected the files in directory `poc` to match the triggerability results generated from using `python3 ../benchd/exp2json.py  workdir/ long_run.json`. It does not match.

The results all match for Libfuzzer, but break for Ango

[2020-12-10 11:32] andreafioraldi opened #50 "Poc extract only exp2json"
Hi,
I'm trying to evaluate AFL++ without canaries (CANARY_MODE=2) and with POC_EXTRACT=1 to dedup the crashes.
There is a way to know which bug was triggered?

Looking at the monitor folders, they are empty, but the crashes/ folder of the fuzzer are not ofc and the poc/ folder in the workdir is filled with deduplicated testcases like "aflplusplus_openssl_asn1_NEW.uv1" (what is the meaning of the e

[2020-12-10 12:07] hazimeh commented on #50
Interesting use case, for which I had not accounted before.
The `POC_EXTRACT` flag tells `run.sh` to launch the PoC extraction script after every campaign using the same Docker image.
But since the image was built without canaries, then the PoC extraction script will not find any ground-truth bugs, and would report all crashes as `NEW` (so, without de-duplication, essentially). I'll mark this as a

[2020-12-10 12:22] hazimeh commented on #50
Keep in mind that, in the absence of canaries and ISan, some bugs may be triggered without causing a crash, and will not be saved in the output directory of AFL++. This will make the bugs in the PoCs a subset of the total set of bugs triggered by the fuzzer.

[2020-12-10 12:26] hazimeh commented on #31
Closing this issue for lack of activity.

[2020-12-10 12:26] #31 closed, assigned to nobody

[2020-12-10 12:28] #24 closed

[2020-12-10 12:30] hazimeh commented on #49
The monitor results (summarized in the json report) are the most accurate, because they are collected at runtime, while the fuzzer is still running.
It could be, as you mentioned, that the PoC extraction script malfunctions with Angora.
Could you provide me with a copy of your workdir?

[2020-12-10 17:13] AbhishekShah212 commented on #49
Thanks for the quick reply.

Here is a link to the workdir: https://drive.google.com/file/d/1IiDrRlArDaQ-awim79PenuDK3Ztwlfbu/view?usp=sharing

[2020-12-10 17:21] andreafioraldi commented on #50
Yes but on real targets u don't have canaries, I'm interested in evaluating the detection capabilities too.

So to do that I shoud (correct me if it is wrong):
1. run the campaign withiut canaries
2. compile again with canaries
3. run poc extract

As I'm using captain, how can I do just the single steps 2 and 3 without running another campaign?

[2020-12-10 17:26] hazimeh commented on #50
As I said, `post_extract.sh` does that for you.
After having run the campaigns, modify `captainrc` to set `CANARY_MODE` to 0, then just run `./post_extract.sh` and it should take care of the rest.
Let me know if you face any problems.

[2020-12-21 08:53] #50 closed, assigned to nobody

[2021-01-05 18:18] wideglide opened #52 "interpreting bug survival graphs"
This is a graph from the [libpng](https://hexhive.epfl.ch/magma/reports/sample_2/targets/libpng.html) report.  I'm not exactly sure what information is depicted.  Was this bug ever found?  Other bugs (AAH002) don't have a graph, so I assume they were never found by any fuzzer, but this graph has symcc extended to 1w, but always 100% survival.

<img width="772" alt="image" src="https://user-images.

[2021-01-06 10:35] adrianherrera commented on #52
Hi Josh,

This is probably explained more clearly in Fig. 5 of the paper (https://arxiv.org/pdf/2009.01120.pdf): the dotted line represents the mean __reached__ time, and the solid line represents the mean __triggered__ time. In this case, it looks as if the bug is reached by a number of fuzzers in a matter of seconds (dotted line), but is never triggered, even after 1 week (solid line).

You're p

[2021-01-06 10:35] #52 closed, assigned to nobody

[2021-01-06 16:02] wideglide commented on #52
Thanks for the clarification!  I was confused why AAH005 is shown in the reports and AAH002 is not shown, but I guess it is because AAH005 was reached (but never triggered), and AAH002 was never reached?  This is also confusing because it appears that AAH011 was never reached or triggered but it has a graph in the bug reports.  In this case, I think the graph is just not showing a reached time of

[2021-01-07 10:01] adrianherrera commented on #52
Raw data is available here: https://osf.io/resj8/

[2021-01-12 07:08] scanakci opened #53 "Program name of the bugs"
Hi,

Thank you for open-sourcing this excellent fuzzing benchmark. I had a chance to run magma with different fuzzers and could trigger bugs for bunch of programs. One unclear thing in your documentation is related to the program names for specific bugs. You group bugs under libraries (e.g.. php has 16 bugs). However, most of the libraries have multiple programs and it would be good to provide the

[2021-01-13 20:18] adrianherrera opened #54 "Exclude seeds that trigger a bug without causing a crash"
As ideal sanitization is disabled by default, some seeds that immediately trigger a bug (e.g., the PHP Exif regression tests) are not pruned at https://github.com/HexHive/magma/blob/v1.1/magma/run.sh#L27

The run script should check if ideal sanitization is disabled, and if so, check the monitor for triggered crashes during pruning, and prune those seeds.

[2021-01-13 20:46] adrianherrera commented on #53
Hi Sadullah,

This is a good suggestion, and we can probably do this based on previous results. However, in general, deciding on the correct sequence of API calls that a library needs to call to (a) maximize code coverage and (b) uncover bugs is an open problem (see [FuzzGen](https://www.usenix.org/system/files/sec20-ispoglou.pdf) and [FUDGE](https://research.google/pubs/pub48314/)).

Leave it wit

[2021-01-21 12:35] ackdav opened #55 "Which release to use?"
Sorry about opening an issue that is really a usage question.

Your homepage under ["getting started"](https://hexhive.epfl.ch/magma/docs/getting-started.html) recommends to use v1.0.4. However, this repo already has release v1.1.0 since October.

What do you suggest we use? (since magma is computationally quite heavy, I wanted to ask first before spending all the ressource on the wrong version)

[2021-01-21 14:01] hazimeh commented on #55
The webpage is supposed to be updated with every push to the gh-pages branch, but since releases are on separate branches, they don't trigger the update.
The latest release is indeed the one on the `v1.1` branch.

[2021-01-21 14:01] #55 closed, assigned to nobody

[2021-01-28 07:57] exKAZUu opened #56 "Failed to build magma/klee/libpng"
I've tried to evaluate `klee` with magma and libpng, but I got the following error:

[code]

The build log is as follows:

[code]

The complete reproducible steps are as follows:

1. Install VirtualBox on Mac OS
2. `vagrant init generic/ubuntu1804` (so I'm using Ubuntu 18.04 on VirtualBox)
3. `vagrant up --provider=virtualbox`
4. `ssh -p 2222 vagrant@localhost`
5. Entere the Ubuntu terminal on Vir

[2021-01-28 08:00] exKAZUu commented on #56
The current klee requires `libcxx` ... ? c.f. https://github.com/klee/klee/pull/966

[2021-01-28 08:14] exKAZUu opened #57 "Update "Getting Started" document to follow the latest changes"
I'm not sure whether this location is correct for posting an issue about the documents.

The current "Getting Started" document (https://hexhive.epfl.ch/magma/docs/getting-started.html) includes the following statement:

, but it seems obsolete. I think this should be `The collected Magma instrumentation can be found in name-timestamped files inside workdir/ar/afl/libpng/libpng_read_fuzzer/0/ball.

[2021-01-28 08:32] exKAZUu commented on #57
Oops, I'm using `TIMEOUT=1m`, so is there just no result due to too short time?

[2021-01-28 08:39] adrianherrera commented on #57
Hey,

Yeah, you are correct, the documentation should say `workdir/ar` (`ball.tar` will only exist if `NO_ARCHIVE` is left unset).

Please feel free to submit a PR, otherwise I'll get around to it (eventually 🙂)

[2021-01-28 08:39] #57 closed, assigned to nobody

[2021-01-28 08:43] exKAZUu commented on #57
@adrianherrera Thanks for the quick response. I can submit a PR, but I'm not sure where I can do it. `docs` directory in this repo seems not to include the document. Could you tell me the place?

[2021-01-28 08:52] adrianherrera commented on #57
Ah yes, the web docs are in the gh-pages branch

[2021-01-28 08:56] exKAZUu commented on #57
oh, i see, thanks!

[2021-02-05 20:23] yh570 commented on #56
I met the same problem here. Magma failed to build all provided targets with KLEE.

[2021-02-09 01:15] adrianherrera commented on #56
Hey folks, please check out https://github.com/HexHive/magma/pull/60

This should fix the build issues

[2021-02-09 12:54] hazimeh commented on #56
Fixed in #60

[2021-02-09 12:54] #56 closed, assigned to nobody

[2021-02-09 12:58] hazimeh commented on #54
Following up on our previous discussion, I wonder if this was actually the case or if I had already accounted for it in the pruning stage.
Rationale: the `magma/runonce.sh` script, on line 31, launches the monitor and observes for triggered bugs, regardless whether or not ISan is enabled. So, seeds are pruned of bugs even in the absence of ISan.
Not sure if I'm missing something.

[2021-02-09 13:21] hazimeh commented on #53
The reason is that we do not perform a reachability/triggerability study over the execution drivers of each target.
Bugs are injected in the core code base of every target, and different execution drivers may exercise different code paths in the target. Some may trigger a bug, some may reach a bug but never satisfy the condition to trigger it, and some may never exercise a code path leading to a b

[2021-02-09 13:21] #53 closed, assigned to adrianherrera

[2021-02-17 03:18] yh570 opened #61 "Failed to build magma targets with KLEE"
Hi, I still have a problem building magma targets with KLEE. The commit version is shown below:
[code]

The error message from the log is shown below:
[code]
And the captainrc file is shown below:
[code]

I also tested other targets, but none of them were successfully built with KLEE.

[2021-02-17 04:23] adrianherrera commented on #61
Ah right, this is described in the troubleshooting document here: https://hexhive.epfl.ch/magma/docs/troubleshoot.html

The quickest approach is probably just to cherry pick the commit(s) relating to the klee patch from the `dev` branch to the `v1.1` branch. I guess @hazimeh will merge the latest dev into v1.1 soon.

[2021-02-17 04:23] #61 closed, assigned to nobody

[2021-03-03 05:04] spencerwuwu opened #62 "Support directed fuzzing"
Hi!
I'm trying to use magma to evaluate the performance of directed fuzzing.
I think the idea of having patches with ground-truth bugs really makes it a wonderful data set.

I made some changes to make magma work for directed fuzzers. I use the 'patches/bugs' as goals for directed fuzzers to reach.
You can find them in this fork:
https://github.com/usc-isi-bass/magma/tree/aflgo

It is not yet comp

[2021-03-04 09:53] adrianherrera commented on #62
Cool! Definitely interested in this :) I actually did something very similar for an older version of Magma, but never got around to porting this to the current version.

Please let me know if you have any issues with the remaining targets; happy to help out where I can.

Are there other directed fuzzers we could add to compare against AFLGo? I know of Hawkeye, but afaik it was never open sourced.

[2021-03-05 07:26] spencerwuwu commented on #62
Hi Adrian,

Great! And thank you!
After some testing I believe the current scripts work for most targets except openssl & sqlite3 (regardless of the extremely long distance calculation for some of them).

Would you mind helping me to see why they fail to compile with AFLGo when you have time?
The `$TARGET/build.sh` script failed for both target. I'd tried a few possibilities but couldn't make them

[2021-03-05 07:50] adrianherrera commented on #62
Cool!

I just checked out your repo and aflgo branch to try to build the various targets. Currently libpng fails to build with an `Empty Ftargets.txt` error. I'll look into it myself, but if you have any pointers that would be helpful :)

~Adrian

[2021-03-05 08:08] spencerwuwu commented on #62
Ah yes, that's something I set up in purpose.
If aflgo fails to locate the target function, it returns first instead of running various things and exit later.

It happens quite a lot in targeting different patches. But I think it should be able to locate all patches for libpng.
Are there any other errors above in the log?

[2021-03-05 08:59] adrianherrera commented on #62
Ah I think it was my fault. When running `TARGET=libpng FUZZER=aflgo ./build.sh` I forgot to also specify a bug. When I rerun with `TARGET=libpng FUZZER=aflgo BUG=AAH001 ./build.sh` it works fine.

Is the intention to have a separate target per bug?

[2021-03-05 09:22] adrianherrera commented on #62
Okay so I got a bit further with sqlite3 by changing the compile command at the end of `targets/sqlite3/build.sh` to:

[code]

I still get an `Empty Ftargets.txt` error, but at least it's building! Can you please incorporate this fix in your repo and I will check out openssl.

[2021-03-05 10:23] adrianherrera commented on #62
Re. openssl: I had a quick look, and for some reason `CFLAGS` is being expanded twice, resulting in the error message about `-outdir` and `targets`. Expanded, the compile command that fails is:

[code]

However, I have no idea why `CFLAGS` is being expanded twice here 😕 At first I thought it might be colliding with `CXXFLAGS`, but this doesn't seem to be the issue. I don't have much time to look i

[2021-03-05 16:43] spencerwuwu commented on #62
Yes. It is necessary to build separately for each bug, at least for AFLGo. AFLGo compiles target program twice: first to generate CFGs and calculate distances with given locations, then it takes the results to compile the final instrumented binary. (This is one of the fews things I find AFLGo tricky to use: double compiling time plus time-consuming distance calculation)

Thanks! I'll update the sc

[2021-03-06 05:23] scanakci commented on #62
Hi guys,

I have been also integrating AFLGO into MAGMA repo. For openssl, my quick fix is given as below:

[code]

As you already noticed, some CCFLAGS are expanded twice and LLVM pops up error for AFLGO specific options (e.g., output-dir flag). I just removed duplication after generating the Makefile. Also, no-asm flag needs to be there.

So far, I could make libpng, libxml2, openssl, libtiff, s

[2021-03-06 05:33] adrianherrera commented on #62
@scanakci cool! Do you also get the same problem where some bugs result in empty Ftargets files, or is this due to the approach taken by @spencerwuwu?

Also, does anyone know why CFLAGS get duplicated? Is this particular to the afl-clang-fast wrapper or something in the openssl build process?

[2021-03-06 05:39] scanakci commented on #62
" Do you also get the same problem where some bugs result in empty Ftargets files, or is this due to the approach taken by @spencerwuwu?"

I did not get any problem for around 25 bugs that I tested so far. From libpng, I tested 5 bugs and they all went well.

"Also, does anyone know why CFLAGS get duplicated? Is this particular to the afl-clang-fast wrapper or something in the openssl build proces

[2021-03-06 05:43] scanakci commented on #62
@adrianherrera Related to this, I get "/magma/targets/openssl/corpus/server/001c159fc891438181a8255e5587c48e25efb408: exit_code 137" for around 250 inputs from the corpus folder when using openssl library with aflgo. In your evaluation, did you use -m 100M for all fuzzers and for all programs (afl-based ones)? For libpng, libxml2, sqlite3, 100M was enough but I guess it is not for openssl. It may

[2021-03-06 20:13] scanakci commented on #62
Php also worked fine on my end. I  got a linker error in the first stage similar to sqlite3 but it did not cause any problem when generating CFGs in the next step. I tested openssl with afl and moptafl with 100M and got exit_code 137 (i.e. out of memory) error. I believe memory is not enough in aflgo case because of the additional instrumentation in the code. I will increase 100M and see if there

[2021-03-06 23:46] adrianherrera commented on #62
@scanakci yeah for our evaluation we used the configurations provided in the v1.1 branch. Try to increase the memory limit and let me know what happens.

[2021-03-08 16:42] BowenWang opened #63 "PoCs for vulnerabilities in Magma"
Hi,
I am using Magma to test our fuzzing system but I can't find PoCs in the directory. Are stored in other locations?

[2021-03-08 21:57] adrianherrera commented on #63
Hi Bowen,

PoC dumps are available [here](https://hexhive.epfl.ch/magma/docs/bugs.html).

[2021-03-08 21:57] #63 closed, assigned to nobody

[2021-03-19 20:18] hazimeh commented on #62
https://twitter.com/mboehme_/status/1372884402020122627

It seems an updated version of AFLGo has been released, and it's a lot faster

[2021-03-19 20:35] scanakci commented on #62
That is great. It is also perfect that they switched to LLVM 11. All libraries worked fine with AFLGo with the previous version. To make poppler work, I needed to update build.sh

https://github.com/scanakci/magma/commit/6f02e3a9c99034d49da4b8517dd5697e43c9ac43

I used -M 500M for openssl, but it was not enough.

Unfortunately, I do not have time to test recent AFLGo in near future but I can proba

[2021-03-24 20:27] scanakci opened #66 "Automatically stopping docker campaigns after a bug is triggered"
Hi guys,

Is there a way to stop fuzzing campaigns if a specific bug is triggered? For instance, if JCH232 bug is triggered in an instance, I do not want to fuzz using that instance longer to save CPU time. If MAGMA does not have this feature and continues to fuzz until a predetermined fuzzing duration, can you point me any potential scripts that I need to look into for implementing this feature?

[2021-03-24 20:52] hazimeh commented on #66
The magma/run.sh script is the entrypoint for Docker containers and is responsible for timing out.
You could rewrite the campaign launching logic to check the monitor output for a non-zero value in the JCH232_T column and terminate the campaign when that criterion is satisfied.
This mechanism does not currently exist in Magma, so you'd have to fiddle around a bit to make it work and pass the bug I

[2021-03-24 20:54] scanakci commented on #66
okay, thank you!

[2021-03-24 20:54] #66 closed, assigned to nobody

[2021-03-25 03:41] BowenWang commented on #63
I have downloaded the file poc_aflplusplus.tar.gz from the web page.

I got PoC files as shown it the figure.

![poc-aflplusplus](https://user-images.githubusercontent.com/14265711/112415347-ad740180-8cf1-11eb-9208-b8a28c9f3e60.png)

I don't understand the meaning of the last three letters in the file name, how can I select the PoC input for a vulnerability in the benchmark?

-- Bowen

[2021-03-27 03:49] adrianherrera commented on #63
Hi Bowen,

I don't think the last three letters mean anything. The bug in the screenshot that you've provided is JCH232 in the target sqlite3. Therefore, you only need to extract the last 6 characters (prior to the extension) to determine the bug (see Table A1 in the paper for all bugs).

~Adrian

[2021-04-15 02:29] AbhishekShah212 opened #67 "Php bugs to potentially graveyard?"
Thank you for this challenging and useful dataset. After reviewing some of the `php` bugs manually, I currently believe

`MAE006` appears to be untriggerable with the current harness. [The harness](https://sourcegraph.com/github.com/php/php-src@39532f9c52ef39c629deab3a30c1e56612387396/-/blob/sapi/fuzzer/fuzzer-exif.c#L52) sets [`read_thumbnail=0`](https://sourcegraph.com/github.com/php/php-src@395

[2021-04-15 02:30] AbhishekShah212 opened #68 "Openssl bugs to potentially graveyard?"
Thank you for this challenging and useful dataset! After reviewing some of the `openssl` bugs manually, I currently believe

`MAE114` appears to be untriggerable. The bug condition [here](https://github.com/HexHive/magma/blob/v1.1/targets/openssl/patches/bugs/MAE114.patch#L17) requires `peek=1` . However, the harnesses set `peek=0` [explicitly](https://sourcegraph.com/github.com/openssl/openssl@72

[2021-04-15 02:32] AbhishekShah212 opened #69 "Libpng bugs to potentially graveyard?"
Thank you for this challenging and useful dataset! After reviewing some of the `libpng` bugs manually, I currently believe

`AAH004` appears to be untriggerable by the current harness. First, [the harness](https://sourcegraph.com/github.com/glennrp/libpng@dbe3e0c43e549a1602286144d94b0666549b18e6/-/blob/contrib/oss-fuzz/libpng_read_fuzzer.cc#L178) validates that `height*width < 100000000.` In the b

[2021-06-03 20:18] shao-hua-li opened #74 "php target build error"
Hi there,

I found that the current docker would fail to build the php target. The error message was "PHP does not support EBCDIC targets". `php` updated their config files a few days ago. Your build script unfortunately (at least on my side) does not work on the latest version. Thanks.

[2021-06-03 20:39] shao-hua-li commented on #74
Sorry, it's probably my own configure issues :-(.

[2021-06-03 20:39] #74 closed, assigned to nobody

[2021-06-09 11:24] sphl opened #75 "Vulnerable functions that are not instrumented by ASan"
Hi,

This is not so much an issue, but rather some insights I recently gained from looking more closely at the code locations instrumented by ASan and MSan. I noticed that none of the functions affected by the vulnerabilities CVE-2018-19058, CVE-2019-12360, and CVE-2017-18267 in Poppler are instrumented by ASan. The same is true for the vulnerabilities CVE-2019-9021, CVE-2018-20783, CVE-2016-10159

[2021-07-11 20:12] shao-hua-li opened #78 "No corpus in libsndfile"
Hi there,

I found that there's no corpus in libsndfile. Is this on purpose? I'm not able to run afl on libsndfile without corpus, however.

Thanks.

[2021-07-12 03:11] adrianherrera commented on #78
Hi Shaohua,

Thanks for pointing this out! The libsndfile target was recently added via an external contributor, and we should have done our due diligence to ensure seeds were provided 😅

I am currently organizing a suitable corpus. I'll commit soon.

~Adrian

[2021-07-12 04:49] hazimeh commented on #78
Thank you for pointing out this oversight :)
I had scheduled an evaluation of this release, but the libsndfile campaigns were still pending execution, so that issue must have gone unnoticed (until the campaigns would have been scheduled and inevitably failed).
We'll look into this!

[2021-07-12 04:53] adrianherrera commented on #78
I've pushed a corpus based on the libsndfile test suite to the dev branch.

It is based off of the libsndfile test suite (https://github.com/libsndfile/libsndfile/tree/master/tests), where I just commented-out the `unlink` function call and collected all of the generated test files (that are <= 1MB).

@hazimeh I'll make a PR for the v1.2 branch.

[2021-07-12 05:03] adrianherrera commented on #78
PR made: https://github.com/HexHive/magma/pull/79

[2021-07-12 05:03] #78 closed, assigned to adrianherrera

[2021-07-17 19:55] yh570 opened #81 "No fuzzer included. This is just for building an analysis target"
Hi, I found the `run.sh` in `klee` in the latest magma only contains
[code]
I modified it as below:
[code]
 However, I still get the same error message `No fuzzer included. This is just for building an analysis target`, the whole error message from the log file in `./work/log/klee_libpng_libpng_read_fuzzer_0_container.log` is shown below:

[code]
And the captainrc file is shown below:
[code]

I te

[2021-08-02 09:17] shao-hua-li opened #83 "php in magma_v1.2 build failed."
Hi there,

I checked out the latest magma_v1.2 and found that building `php` would fail with fuzzer `afl`. The original error log message is:

[code]

Thanks.

[2021-08-02 21:43] hazimeh commented on #83
Fixed in 42067aa2df4030c8b9d2a6d288a2b50f0fbb99f7.

[2021-08-02 21:43] #83 closed, assigned to nobody

[2021-08-02 21:46] hazimeh commented on #81
This is intentional. KLEE support is not complete; we only added it to compile the targets to be run under KLEE.
Check out `runonce.sh` for an example of how to invoke the target with KLEE.
You may need to run an interactive docker container to be able to do that.

[2021-08-02 21:46] #81 closed, assigned to nobody

[2021-08-14 07:23] johwi801 opened #84 "symcc_afl build failed"
Hi, I'm having issues building symcc_afl with target libpng, It complains the cmake version is too low.

[code]

full build log:
[symcc_afl_libpng_build.log](https://github.com/HexHive/magma/files/6986064/symcc_afl_libpng_build.log)

[2021-08-15 07:15] adrianherrera commented on #84
Hi @johwi801, this has been fixed in the dev branch. I'll need to port the fix across to the v1.2 branch.

Thanks for the bug report!

[2021-08-15 07:15] #84 closed, assigned to nobody

[2021-08-15 23:01] adrianherrera commented on #84
Note this is now also fixed in the latest release (v1.2) branch.

[2021-08-15 23:03] adrianherrera commented on #75
Hey @sphl,

This is indeed quite interesting. If you are using the "idealized sanitizer" this isn't an issue. But yes, if you are relying on ASan to detect the bug, this will be an issue.

Thanks for pointing this out!

[2021-08-15 23:03] #75 closed, assigned to nobody

[2021-08-16 08:08] johwi801 commented on #84
Thank you for the quick fix!

[2021-08-16 09:48] johwi801 opened #85 "angora and parmesan failing builds"
Hi, i found some builds that fail. Angora fails for targets libsndfile, php, and openssl, while parmesan fails with libsndfile, and sqlite3. Building parmesan with target php seems to not finish or it takes a very long time. Other fuzzers seem to build with these targets. Providing build logs below. Error for libsndfile seem to be same issue for both targets (undefined reference in alsa_open).

[p

[2021-08-16 15:04] johwi801 opened #86 "Parmesan libpng: thread 'main' panicked at 'Could not read cfg targets file ...'"
When starting parmesan for target libpng the campaign terminates immediately and I get the following error:

[code]

[2021-08-17 05:16] adrianherrera commented on #85
Hey @johwi801,

I'm slowly making my way through these broken builds and have fixed a few of them.

Just so I know where to focus, which branch are you using?

[2021-08-17 06:20] johwi801 commented on #85
I am using the v1.2 branch currently.

I very much appreciate the help!

[2021-08-17 14:04] johwi801 opened #87 "v1.2 symcc_afl/php failed to build"
Hi, symcc_afl builds for all targets but php, here is the build log:

[symcc_afl_php_build.log](https://github.com/HexHive/magma/files/7000459/symcc_afl_php_build.log)

[2021-08-17 22:39] adrianherrera commented on #87
Hi @johwi801,

Given the exception trace, this appears to be an upstream issue with symcc. I suggest opening an issue with them.

[2021-08-17 22:56] adrianherrera commented on #87
Here is a backtrace with debug symbols:

[code]

The error is a failed assert in `Symbolizer::visitBitCastInst` [here](https://github.com/eurecom-s3/symcc/blob/82151a62e3b702a2c699ca4d8ef91d3bf9beeb2b/compiler/Symbolizer.cpp#L607). I would suggest opening an issue with the symcc devs (my guess is this probably involves some sort of vectorized instruction that symcc currently does not handle).

[2021-08-17 22:56] #87 closed, assigned to nobody

[2021-08-24 22:39] adrianherrera commented on #85
Hi @johwi801,

I've fixed some of the targets (openssl and libsndfile) in the dev branch, but I haven't been able to fix the php issues yet. I think that the issue relates to the libcxx version and the (quite old) version of LLVM that Angora relies on (compared to the newer libstdc++ that Ubuntu has); see https://bugs.llvm.org/show_bug.cgi?id=43140. This may have to be fixed upstream with the Ango

[2021-08-25 03:50] adrianherrera commented on #85
So the PHP + Angora (and hence also ParmeSAN, which is built on top of Angora) issue is indeed an upstream issue, and is not Magma related. Please open an issue with the respective fuzzer developers.

This only leaves the sqlite3 + ParmeSAN issue to investigate.

[2021-08-26 23:42] adrianherrera commented on #85
Hi @johwi801,

The ParmeSAN errors on sqlite3 are upstream issues. I suggest you open an issue with the ParmeSAN developers.

I will close this issue now and merge in the `dev` updates into the `v1.2` branch.

[2021-08-26 23:42] #85 closed, assigned to adrianherrera

[2021-08-26 23:44] adrianherrera commented on #86
Hi @johwi801,

Are you able to provide more information? What exactly is the "invalid digit found in string"?

More information would help me diagnose the issue.

[2021-08-27 00:26] adrianherrera commented on #86
Hi, I had a look at the JSON output. My guess is that it is failing because one of the callsite dominators is a negative value (`-1088809728`).

You will have to report this issue to the ParmeSAN developers.

[2021-08-27 00:26] #86 closed, assigned to nobody

[2021-08-31 20:52] adrianherrera commented on #87
As a temporary work-around, you can modify the `configure` [line](https://github.com/HexHive/magma/blob/v1.2/targets/php/build.sh#L29) in `targets/php/build.sh` to

[code]

This will disable vectorization, which removes the use of these unsupported LLVM types/instructions.

[2021-09-01 14:16] johwi801 commented on #87
Ok, thank you for the info and for the work-around!

[2021-09-01 14:17] johwi801 commented on #85
Ok thank you very much for the fixes!

[2021-09-08 07:59] shao-hua-li opened #88 "honggfuzz error in Lua"
Hi there,

When I was trying to fuzz Lua with honggfuzz, I got the following running error log:

[2021-09-08T07:53:41+0000][E][555] cmdlineVerify():243 You must specify '___FILE___' if the -s (stdin fuzzing) or --persistent options are not set
[2021-09-08T07:53:41+0000][F][555] main():330 Parsing of the cmd-line arguments failed.

Thanks,
Shaohua

[2021-09-08 08:02] adrianherrera commented on #88
Hah! I am literally looking at this _exact_ error right now 😁

I'll have a fix pushed soon. Thanks for the bug report!

[2021-09-08 08:10] shao-hua-li commented on #88
No problem. Thanks for your effort!

[2021-09-08 08:48] adrianherrera commented on #88
This is now fixed. Please let me know if you have any further issues.

[2021-09-08 08:48] #88 closed, assigned to adrianherrera

[2021-09-14 15:06] shao-hua-li opened #89 "aflplusplus failed to fuzz binaries in persistent mode."
Hi there,

When I evaluated aflplusplus on Magma, I found that it would always find 0 bugs in any persistent-mode binaries. I checked the generated logs and found that fuzzing states remained unchanged. I attached one log file for libpng.

Thanks,
Shaohua

[aflplusplus_libpng_libpng_read_fuzzer_0_container.log](https://github.com/HexHive/magma/files/7163037/aflplusplus_libpng_libpng_read_fuzzer_0_

[2021-09-16 03:59] adrianherrera commented on #89
Hey @shao-hua-li ,

Thanks for reporting this! I can confirm that I get the same results (also for `aflplusplus_lto`, and I assume the other variants): the bitmap does not fill when running AFL++ with a target linked with the [aflpp_driver](https://github.com/AFLplusplus/AFLplusplus/tree/stable/utils/aflpp_driver).

It seems like something changed in the AFL++ version used in Magma v1.1 and Magma

[2021-09-16 07:07] vanhauser-thc commented on #89
can I have a link to the file where targets are built with afl++ so I can check this out? I am not familiar with magma and have little time :(

[2021-09-16 07:41] adrianherrera commented on #89
Hey @vanhauser-thc,

Targets are built [here](https://github.com/HexHive/magma/blob/v1.2/fuzzers/aflplusplus_lto/instrument.sh).

[2021-09-16 08:12] vanhauser-thc commented on #89
@adrianherrera
looking at https://github.com/HexHive/magma/blob/40ac87cd9d441de8898740276f97a1962c2a9681/fuzzers/aflplusplus_lto/fetch.sh#L32 this seems to be your own fault :)

[2021-09-16 08:13] vanhauser-thc commented on #89
I think all the patching in this file can be removed and it should work, the main() etc. conflicts should be gone for a long time now.

[2021-09-16 08:18] hazimeh commented on #89
The sharedmem_fuzzing global directive was disabled since the build script (of the fuzzer) would use the same driver for linking both persistent and non-persistent targets (e.g. sample tools like pdf2ppm). So instead of modifying the build scripts of the targets, the quick solution at the time was a blanket disabling of shared memory fuzzing (and just using stdin or @@ as the input vector). That i

[2021-09-16 08:29] adrianherrera commented on #89
@vanhauser-thc aaaah, I didn't think to look at the fetch script :) Thanks for pointing that out.
@hazimeh thanks for the explanation!

[2021-09-17 12:44] hazimeh commented on #89
I settled on checking if the target binary uses the weak `main` provided by the driver, or supplies its own (supposedly strong symbol) `main`. If it's the case of the former, then we use `ARGS=-` to feed the fuzzed input through stdin (which is how the driver's `main` specifies it).

Fixed in 701006d9dfa1e0366fd4181c2ef3d871a423db05.

[2021-09-17 12:44] #89 closed, assigned to nobody

[2021-10-31 20:08] ZhangZhuoSJTU opened #90 "A may-be incorrect patch file of libpng"
Hi!

Thanks for your great efforts of bringing Magam benchmark.

I am playing with the benchmark and try to do some hack. I noticed the following code.

https://github.com/HexHive/magma/blob/4652a9c59284e8141fcd2801ec81e4262401678e/targets/libpng/patches/bugs/PNG005.patch#L24

I suppose it should be
[code]

I am not sure whether I completely understand the meaning of `MAGMA_ENABLE_CANARIES`. But i

[2021-11-01 01:47] adrianherrera commented on #90
Good pickup! This is now fixed.

[2021-11-01 01:47] #90 closed, assigned to nobody

[2021-11-01 14:21] ZhangZhuoSJTU opened #91 "PoC for the untriggered bugs"
Hi!

Thanks again for the meaningful work!

I have encountered some libpng bugs which seems untriggerable. Other issues ([libpng](https://github.com/HexHive/magma/issues/69), [openssl](https://github.com/HexHive/magma/issues/68
), and [php](https://github.com/HexHive/magma/issues/67)) discuss those bugs with more details.

Given those untriggerable bugs, it would be hard to gauge the capability of

[2021-11-02 03:04] zhanggenex opened #92 "Why put in a docker?"
I am pretty curious of **why put all the fuzzers and targets and fuzzing campaign inside a docker**???

Imagine Jack is a skilled practioner in fuzzing. He already has all the settings and configurations (e.g., AFL, clang, ...) installed on his own computer.

One day he **has to** use this MAGMA data set. (Maybe suggested by reviewers from a top conference:-).) But all the fuzzers and targets are

[2021-11-03 03:08] zhanggenex commented on #92
国内的用户，如果要用这个数据集的话，请把docker里面github以及ubuntu apt源都换成国内的镜像，速度起飞

用原有的链接等到爸妈都不认识。。。。

[2021-11-03 03:15] adrianherrera commented on #92
Hi,

I guess the original intention of using Docker was to make things as "reproducible" as possible (Ahmad, the original author, will be able to correct me if this is not the case).

I feel your pain; it can be quite frustrating (as a Magma user/developer) to tweak some fuzzer changes, and wait for the Docker build process to (fail to) build, and continually iterate over this cycle. Unfortunately

[2021-11-03 04:00] zhanggenex commented on #92
@adrianherrera Thanks for your reply, I guess only the patched source code is not enough to conduct the experiments. I already used this data set for about 2 days and still working on my experiments. The whole evaluation must be running on the docker to get the desired results. So maybe only the patched source code is not a good solution.

I already figured out how to speed up the process in China

[2021-11-05 11:49] zhanggenex opened #93 "Missing main() in sapi/fuzzer/fuzzer-exif.c, etc?"
@adrianherrera
Hi, Adrian, my own fuzzer cannot be running in the MAGMA docker.

I have to run my fuzzer outside the docker, so I need to compile the targets outside the docker.

All the targets succeeded except the php.

I can see the cause of failure is that there is no main() in sapi/fuzzer/fuzzer-exif.c, sapi/fuzzer/fuzzer-parser, etc.

I added
[code]
to these files, they can be compiled succe

[2021-11-06 03:24] zhanggenex commented on #93
I checked the successfully compiled targets.

I think there must be some errors in the Makefile of php. The targets should be linked to the afl_driver.o when compiling. But it is missing.

Could anyone look into this?

Thanks!

[2021-11-06 11:24] zhanggenex commented on #34
@Minilulatsch Hey
Did you succeed building the php target outside the docker?

[2021-11-06 18:00] zhanggenex commented on #93
Finally, I figured out how to build all the targets outside the docker on my computer locally.

If you are interested, please take a look at my [tutorial](https://zhuanlan.zhihu.com/p/430280845).

[2021-11-06 18:52] zhanggenex commented on #92
Solved how to build magma locally in issue #93.

[2021-11-07 15:06] blu3sh0rk commented on #92
大佬，麻烦问下容器内源怎么改，我改了还是显示
apt-get update
Err:1 http://mirrors.163.com/debian stretch InRelease
  Temporary failure resolving 'mirrors.163.com'
Err:2 http://archive.canonical.com/ubuntu xenial InRelease
  Temporary failure resolving 'archive.canonical.com'
Err:3 http://mirrors.aliyun.com/ubuntu xenial InRelease
  Temporary failure resolving 'mirrors.aliyun.com'
Err:4 http://mirrors.163.com/debian stre

[2021-11-08 00:55] zhanggenex commented on #92
我是将sources.list放在./magma/里面，然后修改magma/preinstall.sh
添加一行
mv /magma/magma/sources.list /etc/apt/

------------------&nbsp;Original&nbsp;------------------
From:                                                                                                                        "HexHive/magma"                                                                                    ***@***.***&gt;;
Date:

[2021-11-08 06:19] adrianherrera commented on #91
Hi,

Great question! Unfortunately, the only PoCs that we have are those found in the original evaluation (and available on the Magma website). We would be welcome to extend this PoC set if you trigger additional bugs and are happy to share.

Unfortunately, determining which bugs are triggerable is difficult. For example, changes in a newer codebase may render some bugs unreachable. Further, the e

[2021-11-08 06:19] #91 closed, assigned to nobody

[2021-11-08 06:20] adrianherrera commented on #93
Great! I will have a read of your tutorial and see what we can incorporate into the codebase.

[2021-11-08 06:20] #93 closed, assigned to nobody

[2021-11-12 10:16] zhanggenex commented on #89
https://github.com/HexHive/magma/issues/89#issuecomment-921767545

I would suggest merging this change to the main branch.

using the current main branch cannot produce the monitor results according to my test in afl++

[2021-11-14 09:14] blu3sh0rk commented on #92
@

请问大佬，可以看看你的captainc 还有magma/preinstall.sh文件名 最近在服务器配这个测试集，挺多问题的
![image](https://user-images.githubusercontent.com/49183837/141675248-d9dd36db-b27a-49c5-a25c-b95c0f445b0f.png)

[2021-12-14 21:27] behrad-ahmadpour commented on #29
@anaaktge Hi
Do you mean that it contains a real-time logging system or just simple terminal outputting?

[2021-12-18 12:56] CourageCheng opened #94 "Building docker always fails"
Hello, I use magma in my Ubuntu docker, but when I run it  ./run. sh, it always reports an error. The error is as follows:
error creating aufs mount to /var/lib/docker/aufs/mnt/f5ad5933593199ad2758075710eca3df75a5f59ed866c684bf95e82d9f8980a9-init: mount target=/var/lib/docker/aufs/mnt/f5ad5933593199ad2758075710eca3df75a5f59ed866c684bf95e82d9f8980a9-init data=br:/var/lib/docker/aufs/diff/f5ad593359

[2021-12-21 17:51] magicbounce opened #95 "Hangs after building libpng."
[afl_libpng_build.log](https://github.com/HexHive/magma/files/7757121/afl_libpng_build.log)
Hello,
To my understanding, the Magma benchmark will move on to build its next campaign after completing the build for one campaign so it can work on multiple campaigns in parallel.  However, my benchmark never moves onto building the next campaign after finishing afl/libpng.  I've attached the log of a pre

[2021-12-22 03:31] adrianherrera commented on #95
Hi @magicbounce,

If you just want to build the Docker containers, you can run the following within the captain directory

[code]

Is this what you are after? I'm not sure what you are expecting; the attached screenshot shows the start of the fuzzing campaign after the container is built. Depending on your system configuration (number of cores, etc.) and your captainrc file, it might not be possib

[2021-12-22 19:51] magicbounce commented on #95
changing the timeout on my captainrc from 24h to 30m helped.  seems like my virtual machine can't run multiple builds in parallel.  thank you!

[2021-12-22 19:52] adrianherrera commented on #95
No problem, glad you got it sorted :)

[2021-12-22 19:52] #95 closed, assigned to nobody

[2022-01-17 09:52] bernardnongpoh opened #96 "Compiling each applications separately"
Hi, I would like to compile Magma applications separately without requiring them to run in the docker. I wanted to have just simple plain applications but with bugs in them. Can we do that?

[2022-01-20 10:26] LucasLeeNDS commented on #96
URL：https://zhuanlan.zhihu.com/p/430280845?utm_source=wechat_timeline&utm_medium=social&utm_oi=671347818648834048&utm_content=group3_article&utm_campaign=shareopn&s_r=0

[2022-01-20 10:26] blu3sh0rk commented on #96
URL：https://zhuanlan.zhihu.com/p/430280845?utm_source=wechat_timeline&utm_medium=social&utm_oi=671347818648834048&utm_content=group3_article&utm_campaign=shareopn&s_r=0

[2022-01-20 11:19] bernardnongpoh commented on #96
Cool. Thanks

[2022-03-10 21:04] wideglide commented on #96
FYI - I do this in CI here: https://gitlab.com/fuzzing/magma

[2022-03-11 20:26] bernardnongpoh commented on #96
Thanks

[2022-03-11 20:26] #96 closed, assigned to nobody

[2022-03-30 18:07] ylee22 opened #98 "Magma Raw Data"
Where can I access the raw data from the MAGMA experiments (the data shown in the sample report in the MAGMA homepage and the paper)?

[2022-05-01 07:54] moratorium08 opened #99 "PHP build failure in aflplusplus-lto"
We cannot build PHP targets by the setting of `aflplusplus_lto`.

[code]

It seems to be related to [this issue](https://github.com/HexHive/magma/issues/67). And in fact, as indicated in that issue,  when we disable `intl', the build succeeds.

Though I'm not sure what is the root cause of this, we confirmed that we can successfully build it without LTO (`aflplusplus`). Therefore, LTO is doing som

[2022-05-09 10:52] adrianherrera commented on #98
This data is now available on the webpage! https://hexhive.epfl.ch/magma/docs/bugs.html

[2022-05-09 10:52] #98 closed, assigned to nobody

[2022-05-09 10:52] adrianherrera commented on #94
This seems like a docker error; e.g., https://stackoverflow.com/questions/30984569/error-error-creating-aufs-mount-to-when-building-dockerfile

[2022-05-09 10:52] #94 closed, assigned to nobody

[2022-05-09 10:55] adrianherrera commented on #99
Hmmm I'm not sure what the relation is with that issue. I have seen a similar C++ error before, and from memory it seemed to relate to a mix of standard libraries (libc++ vs libstdc++).

If I have some time, I'll have a dig and see what I can find.

Thanks for raising the issue!

[2022-05-29 11:51] ricardo-kcc opened #100 "Is magma support QEMU mode ?"
hi, guys! What should I do if test bianry-based fuzzer in magma ?

[2022-06-04 22:54] yqtian-se opened #101 "question on PNG001"
According to the patch of [PNG001](https://github.com/HexHive/magma/tree/master/targets/libpng/patches/bugs/PNG001.patch),

The fix should be
https://github.com/HexHive/magma/blob/2374f74c26b10c70b3dffb3c24f81fee06c59cd4/targets/libpng/patches/bugs/PNG001.patch#L10-L15

and the bug should be
https://github.com/HexHive/magma/blob/2374f74c26b10c70b3dffb3c24f81fee06c59cd4/targets/libpng/patches/bugs/

[2022-06-05 07:07] hazimeh commented on #101
The bug is that for certain values, the row factor calculation overflows to 0 and is followed by a div-by-zero. The proposed fix by the authors at the time was to cast the calculation to 64-bit ints, where overflow is not possible given the bounds on the involved variables. The canaried version of the bug performs this calculation again in a temporary, and checks if the lowest 32 bits were 0. Then

[2022-06-05 16:21] yqtian-se commented on #101
I see. Thanks

[2022-06-05 16:21] #101 closed, assigned to nobody

[2022-06-10 01:59] ricardo-kcc opened #102 "`Manage file locks from shell scripts.` when execute `run.sh`"
Hi, everyone. Please how to solve the error?
The output is as below.
[code]

[2022-06-10 05:21] adrianherrera commented on #102
Weird, on Ubuntu 18.04 and 20.04 I get

[code]

So `-F` is definitely an option here.

[2022-06-10 05:34] ricardo-kcc commented on #102
em, I used ubuntu16. And next I will try it on ubuntu18 or later.

[2022-06-10 05:51] #102 closed, assigned to nobody

[2022-06-10 05:52] #100 closed, assigned to nobody

[2022-07-15 02:52] ricardo-kcc opened #105 "how to add my fuzzer at git repo in magma"

[2022-07-22 11:09] juliangroher opened #106 "poppler freetype2 fetch url deprecated"
Target: `poppler`
File: `fetch.sh`

Problem: The `poppler` target tries to fetch the freetype 2 repository under [git://git.sv.nongnu.org/freetype/freetype2.git](git://git.sv.nongnu.org/freetype/freetype2.git). This URL is no longer reachable.

Potential Solution: The correct new URL seems to be [https://gitlab.freedesktop.org/freetype/freetype.git](https://gitlab.freedesktop.org/freetype/freetype

[2022-07-25 12:42] #105 closed, assigned to nobody

[2022-08-04 09:23] qhjchc opened #108 "Fail to build multiple targets in rootless docker"
Hi,

I could not run multiple targets in rootless docker.

For example, if I run the following command with the captainrc
`./tools/captain/run.sh ./tools/captain/captainrc`
- captainrc
[code]

It could build the first target successfully but fail to the following targets.
The log in the following targets is as follows:
[code]

[2022-08-04 21:00] adrianherrera commented on #108
`sqlites` is a typo; it should be `sqlite3`. Is that the reason?

[2022-08-04 21:00] adrianherrera commented on #106
Cool, tah!

[2022-08-05 05:09] qhjchc commented on #108
Sorry for my typo. It is the same when using `sqlite3`.  (The above example is not directed copied from the log so I make a typo)

The following are the details.
I use [rootless docker](https://docs.docker.com/engine/security/rootless/) and it failed to build a list of targets. (All docker containers and images are killed to avoid some unknown mistakes and then download the magma)

Then I run the

[2022-08-12 09:24] qhjchc opened #110 "Only generate one empty monitor file in my own fuzzer"
Hi, there

I try to run my own fuzzer in the magma, all the configurations are copied from the AFL.

However, the monitor files of my own fuzzer could not be collected by magma.
There is only one file `5` in the monitor folder, but the files in `findings` shows that the fuzzer is running successfully with some crashes. Other fuzzers such AFL could generate monitor files successfully with a similar

[2022-08-12 10:19] adrianherrera commented on #110
Do you have a public repo I could take a look at?

[2022-08-12 10:22] adrianherrera commented on #106
Sweet, merged!

[2022-08-12 10:22] #106 closed, assigned to nobody

[2022-08-12 13:40] qhjchc commented on #110
Sorry, the fuzzer is not published yet. I could provide the log if necessary.

The following are the modified configuration of my own fuzzer.
- build.sh
   `make -j $(nproc)`
   `CC=clang make -j $(nproc) -C llvm_mode`
- instrument.sh
   `export CFLAGS="-res=$OUT"`
- preinstall. sh
   install glib2.29

Is there any recommended method for users to debug it in the docker?

[2022-09-01 12:59] kdsjZh opened #111 "Small Typo in afl_asan, cause image build failed"
Hello Ahmad, I'm testing my fuzzer with afl_asan and find it fail to build, which is because a small typo.

https://github.com/HexHive/magma/blob/a8e440b8f976530345c92451b75809985775fb41/fuzzers/afl_asan/fetch.sh#L10.

```git -C $"FUZZER/repo"``` should be change to ```git -C "$FUZZER/repo" ```.

Could you fix it when you're available?  Thanks.

[2022-09-02 09:53] mengnanpeter opened #112 "Crash reproduction problem (running aflplusplus-libtiff)"
Hello guys, I'm trying to do some fuzzing jobs on this benchmark, but there is something that makes me quite confused.

Here is the thing: I built and ran the aflplusplus-libtiff image (which tests two bins, tiff_cp and tiff_read_rgba_fuzzer, using aflplusplus) as the website says, and some crashes showed up in "****/findings/default/crashes" dic after 24-hour running. From what I understand, the

[2022-09-02 09:58] adrianherrera commented on #111
Fixed in the dev branch!

[2022-09-02 09:58] #111 closed, assigned to nobody

[2022-09-02 09:59] adrianherrera commented on #112
Not sure about those crashes, but you don't need to look at them. Instead, uou need to look at what the monitor produces, per https://hexhive.epfl.ch/magma/docs/getting-started.html

[2022-09-02 09:59] #112 closed, assigned to nobody

[2022-09-05 01:55] mengnanpeter commented on #112
Many thanks for your reply. I understand what the monitor produces, just being confused when the file in findings cannot reproduce the crash. I am going to analyze the crash-related information, so these files really matter in my experiments.

When I used honggfuzz instead of aflplusplus, the same thing happened even with the log files indicating that the crash was found by the file. It does not m

[2022-09-14 14:57] bjchan9an opened #114 "symcc_afl/php failed to build at 2022.09.14"
We are trying to build symcc_afl/php with docker. The command is:
[code]
The error information is as follows:
[code]
How to address it?

[2022-09-18 22:22] adrianherrera commented on #114
Yeah this is a known issue. I cannot get PHP to build with symcc either. I haven't had time to debug this, but if you manage to figure it out please consider making a PR.

[2022-09-18 22:22] #114 closed, assigned to nobody

[2022-10-06 21:05] Changochen opened #115 "A "new" bug in php parser fuzzer."
Hi, we found a bug that crashes the php parser fuzzer but is not caught by magma during testing.

Here is the miminized PoC:
[code]

The latest release version of php will not crash on this input.

You might want to include this bug in magma.

[2022-10-06 21:34] adrianherrera commented on #115
Oh cool; do you know what bug report/CVE this corresponds with? We maintain the bug list [here](https://hexhive.epfl.ch/magma/docs/bugs.html), so we'd need an identifier for this bug. Similarly, Magma bugs are implemented as patches that "reverse" the bug fix, so we would need a patch also.

Feel free to make a PR for this bug.

[2022-10-14 04:00] Changochen commented on #115
Thanks for the reply! We checked and verified that it was a segfault caused by our small modification on the harness. We will keep digging into it and reopen the issue once we can make sure that it is a real bug.

[2022-10-14 04:00] #115 closed, assigned to nobody

[2022-10-19 08:27] #110 closed, assigned to nobody

[2022-10-19 08:41] qhjchc opened #117 "TIF011/TIF013 could never be reached"
Hi,

I traversed all instructions in the given binaries
- tiff_read_rgba_fuzzer
-  tiffcp

and found that the none instructions are in the two files
- libtiff/tif_print.c
- libtiff/tif_jbig.c

which means that the two CVEs may never be reached in magma
- TIF011 | AAH019 | libtiff/tif_print.c:549
- TIF013 | AAH021 | libtiff/tif_jbig.c:122

[2022-10-20 07:09] adrianherrera commented on #117
Hi!

Interesting! Can you please be more specific about what you mean by "traversed all instructions".

[2022-10-21 06:23] Freewind9 opened #118 "use build.sh build parmesan images error"
Hi, wonderful work.
 I was trying to use tools/captain/build.sh to build parmesan image for libpng(Version 1.2). However, I get something error as below. Could you bother take a look at it? Have I done somthing wrong?
[code]

[2022-10-21 08:28] adrianherrera commented on #118
Hi there,

Yes, this is an issue with newer versions of Golang. I have a fix for llvm_analysis; let me port it over to the Parmesan target.

I'll let you know when I'm done.

[2022-10-21 09:32] adrianherrera commented on #118
Hey @Freewind9,

This should be fixed now.

[2022-10-21 09:32] #118 closed, assigned to nobody

[2022-10-22 08:29] qhjchc commented on #117
Thanks a lot for your kind reply :)

I used an [LLVM Pass](https://llvm.org/docs/WritingAnLLVMPass.html) to locate the corresponding instructions of the target line in the two binaries.
However, none instructions in the two binaries belong to the two files (tif_print.c:549, tif_jbig.c:122).

So I think these two CVEs could never be triggered in magma.

The following is the demo code to get the `fi

[2022-10-27 00:56] adrianherrera commented on #117
Thanks, @qhjchc, that is very interesting.  This sounds like a useful analysis to have; do you have the code for your LLVM pass available on github? I would be interested in digging into this in greater detail.

[2022-11-09 16:59] kenohassler opened #123 "Magma v1.1: unknown option in libfuzzer_libxml2_xmllint"
When running Magma v1.1 on libfuzzer_libxml2_xmllint, the containers just output the following error message and terminate.
Other fuzzers I tried do not run into this problem.
[code]

[2022-11-18 09:13] mgobbi289 opened #127 "Unable to retrieve the bugs detected by AFL++"
I have ran AFL++ fuzzing campaigns for 24 hours with the `POC_EXTRACT` variable set, and even tried to ran the `post_extract.sh` script after they finished. In both instances, the `workdir/poc` directory remained empty, despite that the fuzzer did store crashes in its `findings/default/crashes` directory.

I guess there is the possibility that those crashes stored by the fuzzer are false positives

[2022-11-23 00:35] adrianherrera commented on #127
Thanks for the PR!

[2022-11-23 00:35] #127 closed, assigned to nobody